body {
  padding: 0;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
}
div {
  /* border: solid black 1px; */
}
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top-row {
  display: flex;
  flex-direction: row;
  min-height: 1.2em;
}
button.fs {
  width: 15px;
  height: 15px;
  border: none;
  background: url(/dist/fullscreen-icon.svg) center / contain no-repeat;
}
span.title, input.title-edit {
  flex: 1;
  text-align: center;
  font-size: 110%;
  background-color: #ffffff40;
}
input.title-edit {
  font-size: 100%;
}
button.user-image {
  width: 2em;
  height: 2.1em;
  background-size: contain;
  border: none;
  border-radius: 50%;
  outline: 0;
}
.top-row {

}
.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
}
.left-fill {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.viewer {
  flex: 1;
  overflow: hidden;
  min-height: 0;
  /* pointer-events: none; */
}
.viewer-parent {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.buttons {
  background-color: #ffffff40;
}
.button-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
::-webkit-scrollbar {
  height: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.mutation-button {
  flex: 0 0 auto;
}
.right {
  overflow: scroll;
  background-color: #ffffff40;
  z-index: 100;
}
