.mutation-button {
  width: 3em;
  height: 3em;
  background-size: contain;
  border: none;
}
.mutation-button span {
}
.mutation-button:disabled {
  opacity: 0.2;
  filter: alpha(opacity=20); /* msie */
}
