.field-row {
  padding: .5em 0 .2em .2em;
}
.field-row span {
  padding-left: .3em;
}
.field-row input {
  width: 3em;
  text-align: right;
  margin-left: .2em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: .5; /* Firefox */
}
